.CarouselSlider__Wrapper{
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}
.CarouselSlider__Wrapper * {
    box-sizing: border-box;
}
.CarouselSlider {
    white-space: nowrap;
    z-index: 2;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1632px;
    min-width: 1632px;
}
.CarouselSlider__CardContainer{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 1s;
}

.Card__Zoom img:hover{
    transform: scale(1.5);
}